<form action="/payment/results">
  <label for="george"> APR </label>
  <input id="george" type ="text" name="users_number" placeholder="E.g. 5.42">
  <br>
  <label for="pat"> Number of years </label>
  <input id="pat" type ="text" name="users_number" placeholder="How many years to repay?">
  <br>
  <label for="sam"> Principal </label>
  <input id="sam" type ="text" name="users_number" placeholder="How much principal?">
  <br>
  <button> Calculate monthly payment </button>
</form>
