<form action="/random/results">
  <label for="zach"> Minimum </label>
  <input id="zach" type ="text" name="users_number" placeholder="E.g. 1.5">
  <br>
  <label for="pj"> Maximum </label>
  <input id="pj" type ="text" name="users_number" placeholder="E.g. 4.5">
  <br>
  <button> Pick random number </button>
</form>
