<form action="/square_root/results">
  <label for="bob"> Enter a number </label>
  <input id="bob" type ="text" name="users_number" placeholder="What number do you want to take the square root of?">
  <br>
  <button> Calculate square root </button>
</form>
